.adoptions{
    width:100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddc4f5;
}
.dogs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.dog-button {
    background-color: #6a329f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dog-button:hover {
    background-color: #5a2b8a;
    transform: translateY(-3px);
}
.adoption-form {
    height: 65vh;
    width: 35vw;
    font-size: 20px;
    border: 2px solid #6a329f; 
    border-radius: 10px; 
    color: #4e2b7f;
    background-color: #f8e8ff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#note{
    width: 29vw;
}
.add_adoption_button, .exit_button {
    height: 5vh;
    width: 5vw;
    margin: 2px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #6a329f; 
    color: #ffffff;
    border: none;
}
.add_adoption {
    height: 5vh;
    width: 15vw;
    margin: 2px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #af85da; 
    color: #ffffff;
    border: none;
}
.form__adoptions_buttons {
    display: flex;
    flex-direction: row;
    height: 4vh;
    width: 4vw;
    margin: 2px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #6a329f; 
    color: #ffffff;
    border: none;
}


