.menu{
    display: flex;
    align-items: center;
    height: 10vh;
    width:100vw;
    background-color: #4e2b7f;
}
#logo{
    width:10vw;
    height:6vh;
    padding:1vw;
}
.menu_buttons{
    height:10vh;
    width:22vw;
    font-size: 20px;
    background-color: #4e2b7f;
    color:white;
    border: none;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.page{
    width:100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddc4f5;
}
#log_out_button
{
    color:#f8c622;
}
ul.dogs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 0;
    list-style: none; 
}

ul.dogs-list li {
    border: 2px solid #6a329f; 
    border-radius: 10px; 
    background-color: #f8e8ff; 
    padding: 15px; 
    flex: 0 0 calc(25% - 20px);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

ul.dogs-list li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

ul.dogs-list li span {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; 
    font-size: 14px; 
    color: #4a4a4a; 
}

ul.dogs-list li span:first-child {
    font-weight: bold; 
    font-size: 16px; 
    color: #321f70; 
}
.dog-image {
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
    margin-right: 1vw;
}
.dog-item {
    display: flex;
    width: 20vw;
    height: 35vh;
    align-items: center;
    margin-bottom: 2vw;
    justify-content: center;
}
