.page_signup {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddc4f5;
}

.header_log {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100vw;
    background-color: #4e2b7f; 
}

#logo_login {
    width: 15vw; 
    height: auto;
}

.signup_window {
    height: 85vh; 
    width: 35vw; 
    border: 2px solid #6a329f;
    border-radius: 10px; 
    color: #4e2b7f; 
    background-color: #f8e8ff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10vh;
}

.signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input {
    margin: 10px 0;
    width: 80%; 
    height: 3vh;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #6a329f; 
    border-radius: 5px; 
}

#try_sign_up_button {
    margin: 20px 0;
    height: 6vh;
    width: 60%; 
    font-size: 18px;
    border-radius: 8px;
    background-color: #4e2b7f; 
    color: #ffffff;
    border: none;
}

#back_button {
    height: 5vh;
    width: 20%; 
    font-size: 16px;
    border-radius: 8px;
    background-color: #6a329f;
    color: #ffffff;
    border: none;
    margin-top: 10px;
}

#signup_form label {
    font-size: 16px;
    color: #4e2b7f; 
}
